body {
  background-color: #1a1a1a;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  color: white;
}

.App-header h1 {
  color: #00e676;
  font-size: 2.5rem;
}